.search-form {
    input {
        display: inline-block !important;
        width: 80% !important;
    }
    button {
        position: relative;
        top: -2px;
    }
}

.app-header{
    height: 15vh;
}