.actions {
    margin-top: 5px;
}

.auth-page-container {
    width: 45vw;
    position: relative;
    top: 10%;
    left: 20%;
    height: 90vh;
    padding: 5px;
}

.pull-right {
    float: right;
}